einops==0.6.1
fire==0.5.0
jsonlines==3.1.0
matplotlib==3.7.1
mup==1.0.0
numpy==1.24.1
orjson==3.8.14
tokenizers==0.13.3
tqdm==4.65.0
transformers==4.29.2
zstandard==0.21.0
xformers==0.0.23
torch==2.0.1+cu117
datasets==2.15.0